# Assignment day 4

Question 1:

In [3]:
import pandas as pd

print(pd.__version__)

0.23.4

Question 2:

In [5]:
import pandas as pd
import numpy as np

data = np.array(['a', 'b', 'c', 'd', 'e'])
s = pd.Series(data) 
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

Question 3:

In [10]:
import pandas as pd

data = {'Product': ['Computer','Printer','Monitor','Desk','Phone'],
          'Price': [1200,250,400,700,350]
        }

df = pd.DataFrame(data, columns = ['Product','Price'], index = ['Item_1','Item_2','Item_3','Item_4','Item_5'])

print(df)

         Product  Price
Item_1  Computer   1200
Item_2   Printer    250
Item_3   Monitor    400
Item_4      Desk    700
Item_5     Phone    350

Question 4:

In [18]:
import pandas as pd
import seaborn as sb

df = sb.load_dataset('mpg')
print df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

Question 5:

Answer 5: The cars in this dataset are of USA origin

In [41]:
import pandas as pd
import seaborn as sb

df = sb.load_dataset('mpg')
print(df.head())
print("\n")
print(df.origin.eq("usa"))

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino


0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14     False
15      True
16      True
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24      True
25      True
26      True
27      True
28      True
29     False
       ...
368     True
369     True
370     True
371     True
372     True
373     True
374     True
375    False
376    False
377    False
378     True
379     True
380    False
381    False
382    False
383    False
384    False
385    False
386     True
387     True
388     True
389     True
390    False
391     True
392     True
393     True
394    False
395     True
396     True
397     True
Name: origin, Length: 398, dtype: bool